{% extends "home.html" %}
{% block content %}
  <h1>Visualization</h1>
  <form method="GET" action="#">
    <div class="form-group">
        <select multiple data-placeholder="Add tools">
          <!-- <option>Sketch</option>
          <option>Framer X</option>
          <option>Photoshop</option>
          <option>Principle</option>
          <option>Invision</option> -->
        </select>
        
    </div>
    {{ form.as_p }}
    <input type="submit" class="btn" value="Згенерувати" name="submit">
  </form>
  {% if show %}
  {% include "d3graph.html" %}
  {% endif %}
{% endblock %}