{% extends "base.html" %}
{% block content %}
  <h1>Qualifey</h1>
  <p>we are ...</p>
  <div>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
  </div>
  <!-- <div>
    <canvas id="myLines" style="width:100%;max-width:700px"></canvas>
  </div> -->
  <script>
    var xValues = {{ xValues|safe }};
    var yValues = {{ yValues|safe }};
    var barColors = ["#F94144", "#F3722C","#F8961E", "#F9C74F", "#90BE6D", "#43AA8B", "#577590"];
    const axisColor = 'rgba(152, 116, 163, 1)';
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          label: "Percentage increase of vacancies by days of week",
          fontColor: 'white',
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Count of {{ job_title }}'s increase of vacancies"
        },
        scales: {
          y: {
            grid: {
              color: (line) => (line.index === 0 ? axisColor : NaN),
              display: true,
            },
            ticks: { color: 'white' }
          },
          x: {
            grid: {
              color: (line) => (line.index === 0 ? axisColor : NaN),
              display: true,
            },
            ticks: { color: 'white' }
          }
        } 
      }
    });
    </script>
    <!-- <script>

      const xValues1 = {{ dates|safe }};
      
      new Chart("myLines", {
        type: "line",
        data: {
          labels: xValues1,
          datasets: [{ 
            label: "Germany",
            data: {{ counts|safe }},
            borderColor: "rgba(42, 237, 243, 0.8)",
            fill: true,
            backgroundColor: 'rgba(57, 249, 255, 0.25)',
            tension: 0.4
          }]
        },
        options: {
          legend: {display: true},
          scales: {
            y: {
              grid: {
                color: (line) => (line.index === 0 ? 'rgba(152, 116, 163, 1)' : NaN),
                display: true,
              }
            },
            x: {
              grid: {
                color: (line) => (line.index === 0 ? 'rgba(152, 116, 163, 1)' : NaN),
                display: true,
              }
            }
          }
        }
      });
    </script> -->
{% endblock %}